[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.kiranprav.link
Environment=CATALOGUE_HOST=catalogue.kiranprav.link
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target