#source common.sh
#
#print_head "Install Nginx"
#yum install nginx -y &>>${LOG}
#status_check

#print_head "Remove Nginx Old Content"
#rm -rf /usr/share/nginx/html/* &>>${LOG}
#status_check


#print_head "Download Frontend Content"
#curl -o /tmp/frontend.zip https://roboshop-artifacts.s3.amazonaws.com/frontend.zip &>>${LOG}
#status_check

#cd /usr/share/nginx/html &>>${LOG}

#print_head "Extract Frontend Content"
#unzip /tmp/frontend.zip &>>${LOG}
#status_check

#print_head "Copy RoboShop Nginx Config File"
#cp ${script_location}/files/nginxroboshop.conf /etc/nginx/default.d/roboshop.conf &>>${LOG}
#status_check

#print_head "Enable Nginx"
#systemctl enable nginx &>>${LOG}
#status_check

#print_head "Start Nginx"
#systemctl restart nginx &>>${LOG}
#status_check

- name: Install the latest version of Apache
  ansible.builtin.yum:
    name: nginx
    state: installed

- name: Remove old HTTPD documents
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: absent

- name: Create a HTTPD Directroy
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: directory

#- name: Unarchive a file that needs to be downloaded (added in 2.0)
#  ansible.builtin.unarchive:
#    src: https://roboshop-artifacts.s3.amazonaws.com/frontend.zip
#    dest: /usr/share/nginx/html
#    remote_src: yes

- name: download {{component}}artifact from repository
  ansible.builtin.unarchive:
    src: http://{{nexus_user}}:{{nexus_password}}@172.31.2.104:8081/repository/{{component}}/{{component}}-{{app_version}}zip
    dest: /app
    remote_src: yes
  vars:

    nexus_user: {{ lookup('aws_ssm', "nexus.user", region='us-east-1' ) }}
    nexus_password: {{ lookup('aws_ssm', "nexus.password", region='us-east-1' ) }}

- name: Copying file roboshop config file
  ansible.builtin.template:
    src: roboshop.conf
    dest: /etc/nginx/default.d/roboshop.conf

- name: starting nginx service
  ansible.builtin.systemd:
    state: restarted
    name: nginx
    enabled: yes